body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat:round;
    font-family: Kumbh Sans;
}


main{
    background-color: white;
    height: 65%;
    width: 25%;
    border-radius: 20px;
    position: relative;
    min-width: 331px;
    box-shadow: 0px 5px 10px 2px hsl(237, 12%, 33%);

}

.image{
    display: none;
}

.mobile-image{
    position: absolute;
    left: 50%;
    margin-left: -131px;
    top: -120px;
    height: 200px;
}

.shadow{
    width: 270px;
    position: absolute;
    top: -2px;
    left: 45%;
    margin-left: -120px;
}

.shadow-desktop{
    display: none;
}

h1{
    text-align: center;
    margin-top: 120px;
}

.hidden{
    display: none;
}

.faq-title{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(237, 12%, 33%);
}

.faq-title:hover{
    color: orange;
}

.faq{
    font-size: 12px;
    padding: 0 50px 0 20px;
    margin-bottom: 15px;
    color: hsl(240, 6%, 50%);
}

.bold{
    font-weight: 700;
    color: black;
}

hr{
    margin: 0 20px;
    display: block; 
    border: 1px solid;
    /* border-top: 1px solid; */
    border-top: 0;
    border-color: hsl(240, 5%, 91%);
}

.box-img{
    display: none;
}

.attribution{
    color: whitesmoke;
    margin-top: 20px;
    font-size: 12px;
}

.attribution a{
    color: black;
}

.github-logo{
    height: 25px;
    margin: 2px 5px;
    vertical-align: bottom;
}

@media (min-width: 500px){
    main{
        width: 50%;
        height: 50%;
        min-width: 700px;
        max-width: 40%;
        display: flex;
        flex-direction: row;
    }

    .image{
        display: block;
        position: absolute;
        left: -70px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 300px;
    }

    .mobile-image{display: none;}

    .shadow{
        display: none;
    }

    h1{
        text-align: left;
        padding-left: 10px;
        margin-left: 8%;
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: Kumbh Sans;
    }

    .faq-title{
        text-align: left;
        font-family: Kumbh Sans;
        cursor: pointer;
    }

    hr{
        margin: 0 20px 0 50;
    }

    .faq{
        font-family: Kumbh Sans;
    }

    .left-side{
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 200%;
        background-position:  -375px -160px;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 50%;
    }

    .right-side{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 50%;
    }

    .box-img{
        display: block;
        position: absolute;
        top: 40%;
        left: -15%;
    }
}


@media (min-width: 1870px){
        .left-side{
            background-image: url(/images/bg-pattern-desktop.svg);
            background-repeat: no-repeat;
            background-size: 200%;
            background-position:  -440px -200px;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 50%;
        }
}
